<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
</head>
<body>
  <h1><%=message%></h1>

  <div>
    <ul>
      <!-- 
      <% for (let person of people) { %>
        <li><%= person %></li>
      <% } %> 
      -->

      <!-- <% people.forEach((person) => { %>
        <li><%= person %></li>
      <% }); %> -->

      <% people.forEach((person) => { %>
        <li><%= person %></li>
      <% }); %>
    </ul>
  </div>
</body>
</html>